* {
  box-sizing: border-box;
}
body {
  background-color: #f2f2f2;
}

$main-color: #2196f3;

.game {
  width: 70%;
  padding: 15px;
  margin: 50px auto;
  border-radius: 5px;

  .name {
    background-color: $main-color;
    padding: 10px;
    font-size: 20px;
    text-align: center;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    color: #fff;
  }

  form {
    text-align: center;
    background-color: #fff;
    padding: 10px;
    border-radius: 5px;
  }

  .message {
    margin: 10px 0;
    background-color: #ccc;
    font-size: 17px;
    text-align: center;
    color: #000;
    padding: 7px;
    border-radius: 5px;

    span {
      color: #009688;
      font-weight: bold;

      &::after {
        content: " ]";
      }
      &::before {
        content: "[ ";
      }
    }
  }

  .start {
    text-align: center;
    padding: 10px;
    font-size: 20px;
    background-color: #009688;
    color: #fff;
    cursor: pointer;
    border-radius: 5px;
    transition: 0.5s;

    &:hover {
      background-color: rgba($color: #009688, $alpha: 0.8);
    }
  }

  .the-word {
    // background-color: #fff;
    padding: 10px;
    margin: 10px 0;
    font : {
      size: 30px;
      weight: bold;
    }
    color: $main-color;
    text-align: center;
    border-radius: 5px;
    user-select: none;
  }

  .input {
    width: 100%;
    padding: 10px;
    font-size: 20px;
    outline: none;
    border: 2px solid #ccc;
    border-radius: 5px;
    color: $main-color;
    text : {
      align: center;
      transform: capitalize;
    }
  }

  .upcoming-words {
    background-color: #fff;
    padding: 10px;
    margin: 10px 0;
    border-radius: 5px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

    div {
      padding: 10px;
      border-radius: 5px;
      background-color: $main-color;
      color: #fff;
      font-size: 20px;
      margin: 5px;
    }
  }

  .control {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #fff;
    padding: 10px;
    margin-top: 10px;
    border-radius: 5px;

    span {
      color: #009688;
      font-weight: bold;
    }
  }

  .finish {
    text-align: center;
    padding: 10px;
    font-size: 40px;
    color: $main-color;
    &.bad {
      color: #f00;
    }
  }
}
